 span {
    display: inline-block;
    background-color: lightblue;
    padding: 5px;
    border: 1px solid darkgray;
  }
  
  body {
    text-align: center;
}

#anime {
  width: 200px;
  height: 175px;
}
